.container{
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-column-gap: 3rem;
    /* grid-auto-columns:21%; */
    min-height: 40vh;
    padding-top: 5rem;
    padding-bottom:6rem ;
    

    /* margin: inline 0.5em;rem; */
    scroll-behavior: smooth;
    background:linear-gradient(to bottom,rgb(255, 151, 193),rgb(22, 33, 62));
    transition-duration: 1s;
   
}
.container::-webkit-scrollbar {
    display: none;
  }

@media screen and (min-width:700px) {
    .container{
        grid-auto-columns:16%;
    }
}
.padder{
    padding-bottom:10rem;
}
.nobooks{
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
   color: black;
   margin-top:11vh
}
.nobookText:hover{
cursor: pointer;
}

    

