
body{
  margin: 0;
  background-color: #DFF6FF;
}


@media screen and (max-width:600px) {
  :root{
    font-size: 10px;
  }
  
}

@media screen and (max-width:350px) {
  :root{
    font-size: 6px;
  }
  
}

