.card{
    justify-content: center;
    align-items: center;
   min-height: 30vh;
   min-width: 30vw;
   margin-bottom: 2rem;
   flex-direction: column;
   border-radius: 1rem;
 }
 @media screen and (max-width:600px) {
     .card{
         min-width: 80vw;
     }
     
 }
 .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .user-input{
     display: flex;
     flex-direction: column;
     margin: 1rem 0px;
 }
 .label{
     font-weight: bolder;
     margin: 0.3rem 0px;
 }
 input{
     height: 1.5rem;
 }
 .form{
     width: 100%;
     padding: 1rem 0;
 }
 .actions{
     width: 100%;
     height: 2.5rem;
     margin: 2rem 0px;
 }
 .signup{
     width: 100%;
     height:100%;
     background-color: #23c695;
     border: 0px;
     font-size: medium;
     font-weight: bolder;
     color: whitesmoke;
 }
 .signup:hover{
    cursor: pointer;
    background-color: #0b694d;

 }
 .links{
     display: flex;
     justify-content: center;
 }
 #login{
     text-decoration: none;
     color: grey;
     margin: 5px;
 }
 .error{
    color: red;
    font-size: small;
    margin-left: auto;
 }
 .cardheader{
    margin: 0px;
    color: #0e5741;
 }

 .inputerror{
    /* border-color: red; */
    animation-name: borderin;
    animation-duration: 4s;
    border:1px solid red;
    animation-fill-mode: forwards;
}

.progressbar{
    position: absolute;
    top: 12vh;
     }

     .signup:disabled {
        background-color: grey;
     }
     .signup:disabled:hover{
        cursor: default;
     }

 